
<form method="post" action="buscaObservacion" >
      <input class="button_1" type="submit" name="nombre" value="Buscar">
     <input type="text" name="observacionBusca" size="80">
    
<div class="container"> 
    <table border="1">la taba de Reclamo <span  class="required"></span></label>
     <tr>
       <td>Tipo Reclamo</td>
       <td>Observacion</td>
       <td>fecha</td>
    </tr>
    <%
     for(var i=0; i< reclamos.length; i++) { %>
       <tr>
           <td><%= reclamos[i].tipoReclamo %></td>
           <td><%= reclamos[i].observacion %></td>
            <td><%= reclamos[i].fecha %></td>
        </tr>
  <% }%>
  </table>
  </div>

